    *{
      box-sizing: border-box ;
      
    }
    html{
      font-size: 62.25%;
    }
    body {
        font-family: 'IBM Plex Sans Arabic', sans-serif;
          margin: 0;
        }
    img{
      display: block;
    }
    .header {
      background-color: #2d4f2b;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 13px 28.6px;
    }
    .logo {
      width: 35px;
    }
    .header-items a {
      color: #fff1ca;
      text-decoration: none;
      padding: 0px 24px;
      font-family: 'IBM Plex Sans Arabic', sans-serif;
      font-weight: 500;
      font-size: 1.5rem;
    }
    .header-items :hover {
      color: #ffb823;
    }
    .headerButtons{
      border: none;
      border-radius: 44px;
      padding: 9px 14px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-family: 'IBM Plex Sans Arabic', sans-serif;
      font-weight: 600;
    }
    .SignUp{
      color:#2d4f2b;
      background-color: #fff1ca;
    }
    .SignUp:hover{
      color: #fff1ca;
      border: #fff1ca;
      background-color: #2d4f2b;
      border: 1px solid #ffb823;
      transform: translateY(-2px);
    }
    .Login{
      color:#fff1ca;
      background-color: #2d4f2b;
      
    }
    .Login:hover{
      color:#2d4f2b;
      background-color: #ffb823;
      border: 1px solid #ffb823;
      transform: translateY(-2px);
    }
    .features{
      display:flex;
      flex-flow:column ;
      justify-content: space-around;
      align-items: stretch;
      padding: 2.5%;
    }
    .feature{
      
      display: flex;
      flex-flow: row;
      padding: 2.5%;
      align-items: stretch;
      justify-content: space-around;
    }
    .feature img{
      flex:1 1 auto;
      max-width: 50%;
      height: auto;
    }
    .features_details{
      text-align: right;
      display: flex;
      flex-flow: column wrap;
      flex: 0 1 30%;
      justify-content: center;
    }
    .features_details{
      color:#2d4f2b;
    }
    .feature:nth-of-type(2),.feature:nth-of-type(4){
      background-color:rgba(128, 128, 128, 0.197);

    }
    .feature:nth-of-type(2) .features_details,.feature:nth-of-type(4) .features_details{
      order: -1;
    }
    .features_details button{
      border: none;
      border-radius: 44px;
      padding: 9px 14px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-family: 'IBM Plex Sans Arabic', sans-serif;
      font-weight: 600;
      color:  #fff1ca;
      background-color: #2d4f2b;
    }
    .features_details button:hover{
      color:#2d4f2b;
      background-color: #ffb823;
      border: 1px solid #ffb823;
      transform: translateY(-2px);
    }
    .features_details h3{
      font-size: 2.5rem;
    }
    .features_details p{
      font-size: 1.5rem;
    }
    .features_details button{
      font-size: 1.5rem;
    }