.more {
  display: flex;
  flex-flow: column nowrap;
  
  justify-content: center;
  align-items: center;
  color:#1B4119;
  text-align: right;
  padding: 5%;
  
  gap: 40px;
}

.more h3 {
  font-size: 4rem;
}

.more h4{
  font-size: 1.6rem;
  font-weight: 600;
  
}
.more p {
  font-size: 1.4rem;
  font-weight: 400;
}
.goals{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
}
.goal{
  display: flex;
  
  flex-flow:column ;
  flex-basis:25% ;
  gap: 15px ;
}